.warning {
    background-color: #cf6666 !important;
    border-color: #B35A5A !important;
}

.warning>.admonition-title {
    background-color: #992222 !important;
    border-bottom: #B35A5A !important;
}

.warning>p>code {
    background-color: #B35A5A !important;
    border-bottom: #B35A5A !important;
}
